.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


label {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}


.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;
   
}

#search {
    padding: 1rem 7rem;
    border: 2px solid black;
}


input {
    font-size: 1rem;
}
/* 
.subContainer {
    max-width: 100%;
    gap: .25rem;
    margin-top: 1rem;
} */

.card {
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
    max-width: 50%;
    margin-top: 1rem;
}



.hide{
    display: none;
}